/* css styles */
/* .quarto-title {
  position: relative;
  height: 120%;
} */

/* .quarto-title-banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Black background with transparency */
/* } */

/* h1.title {
  color: red;
  position: relative;
} */